.question-answer {
    padding-bottom: 10px;

    border-bottom: 2px solid gray;
}



.question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;

    button {
        border: none;
        background-color: transparent;

        img {
            width: 50px;
            height: auto;
        }

    }
}

.answer {
    display: none;
}